<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet">
        {% block stylesheets %}
            <style>
                body{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                }
                .btn{
                    border-radius: 100px;
                    border: 1px solid rgba(0, 0, 0, 0.06);;
                    background-color: rgba(0, 0, 0, 0);
                }
                .btn-imageCount{
                    background-color: rgba(255, 0, 0, 1);
                    color: white;
                    cursor:pointer
                }
                .subject:nth-child(even){
                    background-color: rgb(245, 245, 245);
                }    
                .desc .desc-label{
                    font-size: 0.7em;
                }
                .desc-text{
                    font-size: 0.7em;
                }
                .desc-images{
                    overflow-x: auto;
                    white-space: nowrap;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        <div class="container" style="width: 70%; margin: 0 auto;">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
